
.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.canvas {
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  z-index: 1;
  color: #f0f0f0;
  padding: 0 20px;
  background: radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.9) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  padding: 80px 20px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 3.7rem;
  margin-bottom: 22px;
  color: #0dcaf0;
}

.description {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
  color: #d3d3d3;
  font-family: 'Times New Roman', Times, serif;

}
/* Team Members Section */
.teamSection {
  font-family: 'Orbitron', sans-serif;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3e5679;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  width: 100%;
}

.teamCard {
  cursor: pointer;
  width: 250px;
  height: 350px;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.cardFront, .cardBack {
  font-family: 'Times New Roman', Times, serif;

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.cardFront {
  background: linear-gradient(145deg, #1e3a4e, #0a192f);
  color: #ffffff;
}

.cardBack {
  background: linear-gradient(145deg, #0a192f, #1e3a4e);
  color: #ffffff;
  transform: rotateY(180deg);
}

.teamImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cardName {
  font-size: 1.2rem;
  color: #ffffff;
}

/* Privacy Policy Section */
.privacySection {
  padding: 100px 20px;
}

.policyGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.policyItem {
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  color: #f0f0f0;
}

.policyItem:hover {
  transform: scale(1.05);
}

.sectionTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

.companyMissionWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}

.companyHistory,
.missionVisionCentered {
  width: 85%;
  margin: 40px;
  /* margin-top: 130px; */
}

.missionVisionCentered {
  text-align: center;
}
.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.canvas {
  width: 100%;
  height: 100vh;
}
/* Other styles */

.horizontalPolicySection {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.horizontalPolicyItem {
  width: 50%;
}

.horizontalPolicyItem h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.horizontalPolicyItem ul {
  list-style-type: disc;
  padding-left: 1.7rem;
}

.horizontalPolicyItem ul li {
  margin-bottom: 0.5rem;
}

.horizontalPolicyItem p {
  padding-bottom: 0px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .companyHistory,
  .missionVisionCentered {
    width: 90%;
  }
}