/* styles/lnr.module.css */
.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(ellipse at center, #020024 0%, #090979 35%, #0dcaf0 100%);
  animation: backgroundShift 15s ease-in-out infinite;
}

@keyframes backgroundShift {
  0% { background-position: 0 0; }
  50% { background-position: 50px 50px; }
  100% { background-position: 0 0; }
}

.canvas {
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.742));
}

.section {
  padding: 50px 20px;
  padding-top: 150px;
  text-align: center;
  color: #ffffff;
}

.title {
  font-family: 'Exo 2', sans-serif;
  font-size: 3.5rem; /* Increased font size */
  font-weight: bold; /* Added font weight */
  background: linear-gradient(90deg, #0dcaf0, #00ff87);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1em; /* Increased letter spacing */
  margin-bottom: 30px; /* Increased margin-bottom */
}

.subtitle {
  margin-top: -50px;
  font-family: 'Exo 2', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 50px; /* Increased margin-bottom */
  color: #d4af37; /* Changed color to gold */
}

.featureTitle {
  font-family: 'Roboto', sans-serif; /* Updated font family */
  font-size: 2.2rem; /* Increased font size */
  color: #0dcaf0; /* Changed color to blue */
  margin-bottom: 20px; /* Adjusted margin-bottom */
  font-weight: 600; /* Added font weight */
  text-align: center; /* Center-aligned text */
}


.description, .featureDescription {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6rem; /* Slightly increased font size */
  max-width: 990px;
  margin: 0 auto;
  color: #d3d3d3;
}

.featureSection {
  margin-bottom: 60px; /* Increased margin-bottom */
  background: rgba(0, 0, 0, 0.7); /* Darker background */
  padding: 30px; /* Increased padding */
  border-radius: 15px; /* More rounded corners */
}

.planGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.planCard {
  background: rgba(0, 0, 0, 0.8); /* Darker background */
  padding: 30px; /* Increased padding */
  border-radius: 15px; /* More rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.planCard:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8), 0 0 20px rgba(13, 202, 240, 0.8);
  border: 2px solid rgba(13, 202, 240, 0.8);
}

.planFeatures {
  list-style-type: none;
  padding: 0;
}

.planFeatures li {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2rem; /* Increased font size */
  color: #d3d3d3;
  padding: 5px 0;
}
