/* qmn.module.css */
.canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('/bg4.jpg') no-repeat center center;
  background-size: cover;
}

.canvas {
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.742));
}

.section {
  padding: 50px 20px;
  padding-top: 180px;
  text-align: center;
  color: #ffffff;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 3.2rem;
  margin-bottom: 20px;
  color: #0dcaf0;
}

.description {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  max-width: 990px;
  margin: 0 auto;
  color: #d3d3d3;
}

.subtitle {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: rgb(32, 66, 169);
}

.details {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  max-width: 800px;
  margin: 0 auto;
  color: #d3d3d3;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.featureCard {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #0dcaf0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.featureCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(13, 202, 240, 0.2), transparent);
  transition: opacity 0.4s;
  opacity: 0;
  z-index: -1;
}

.featureCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(13, 202, 240, 0.8);
  border: 1px solid #ffffff;
}

.featureCard:hover::before {
  opacity: 1;
}

.featureTitle {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8rem;
  color: #0dcaf0;
}

.featureText {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  color: #d3d3d3;
}

.planGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.planCard {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  border: 1px solid #0dcaf0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.planCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(13, 202, 240, 0.2), transparent);
  transition: opacity 0.4s;
  opacity: 0;
  z-index: -1;
}

.planCard:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 30px rgba(13, 202, 240, 0.8);
  border: 1px solid #ffffff;
}

.planCard:hover::before {
  opacity: 1;
}

.planFeatures {
  list-style-type: none;
  padding: 0;
  color: #d3d3d3;
}

.planFeatures li {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
