
  
  .container {
    position: relative;
    z-index: 1;
  }
  
  .section {
    padding: 100px 20px;
    text-align: center;
    color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .icon {
    margin-right: 10px;
    font-size: 2rem;
    color: #0dcaf0;
  }
  
  .title {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #0dcaf0;
    position: relative;
    text-transform: uppercase;
  }
  
  .description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ede9e9;
    max-width: 990px;
    margin-bottom: 40px;
  }
  
  .card:hover {
    transform: translateY(-10px);
    /* box-shadow: 0px 4px 20px rgba(13, 202, 240, 0.6); */
  }
/* Research and Development Section */
.researchSection {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('/research.png') no-repeat center center fixed;

    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
  }
  
  /* Ongoing Projects Section */
  .projectsSection {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('/project.jpg') no-repeat center center fixed;

    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
  }
  
  /* Collaboration Opportunities Section */
  .collaborationSection {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/collabe.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
  }
  
  /* Open Source Contributions Section */
  .opensourceSection {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('/open.jpg') no-repeat center center fixed;

    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
  }
  
  .title {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    color: #0dcaf0;
  }
  
  .description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    max-width: 900px;
    line-height: 1.8;
  }
    